@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
footer {
  background-color: #AA7B511F;
  margin-top: 70px;

}
.footer h2 {
  font-weight: 600;
}
.footer div {
  display: flex;
  /* justify-content: space-around; */
  /* padding-left: 30px;
  margin-bottom: 40px; */
  flex-wrap: wrap;
  padding-left: 20px;

}
.footer div div {
  flex-direction: column;
  justify-content: flex-start;

  flex-grow: 1;
  font-weight: 500;
}
.footer div:nth-child(4) {
  flex-grow: 2;
  font-weight: 400;
}

.line-break {
  width: 85%;
  height: 3px;
  background-color: gray;
  margin: 0px auto;
  display: none;
}
.copy-right {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.eagle-coffee {
  margin-top:30px;
}

.copy-right .media {
  display: flex;
}
.copy-right .media div {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #aa7b51;
}
.line-break {
  width: 100%;
  height:1px;
  background-color:rgb(104, 104, 104);
  margin-left: 20px;
}
@media (max-width: 700px) {
  .footer div {
    /* display: grid;
    grid-template-areas:
      "f1" "f2"
      "f3" "f4"; */
    flex-wrap: wrap;
    /* margin: 0 auto; */
    width: 100%;
    margin-top: 30px;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding-left: 10px; */
  }
  .footer h2 {
    margin-bottom: 5px;
  }
  #f1 {
    grid-area: f1;
  }
  #f2 {
    grid-area: f2;
  }
  #f3 {
    grid-area: f3;
  }
  #f4 {
    grid-area: f4;
  }
  .line-break {

    width: 100%;
    margin: 0;
  }
}
